# Flask Configurations
SECRET_KEY=sbi_secret_key_123_change_me
FLASK_ENV=development
FLASK_DEBUG=True

# Database Configuration: 'sqlite' or 'mysql'
DB_TYPE=sqlite

# SQLite Path (used if DB_TYPE is sqlite)
SQLITE_DB_PATH=instance/bank.db

# MySQL Credentials (used if DB_TYPE is mysql)
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=banking_management_system
